<body>
  <mat-card id="Login">
    <mat-card-content id="Centralizar" >


      <h1 class="titulo">BEM-VINDO(A) DE VOLTA!</h1>

      <h5>EMAIL OU NOME DO PERFIL</h5>
      <!-- Campo de email -->
      <div class="caixa-input">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </form>
      </div>

      <!-- FIM Campo de email -->

      <h5>SENHA</h5>
      <!-- Campo de senha -->
      <div class="caixa-input">
        <mat-form-field>
          <mat-label>Insira a sua senha</mat-label>
          <input matInput
                 [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!-- FIM Campo de senha -->

      <!-- Link "Esqueceu a sua senha?" -->
      <a href="">Esqueceu a sua senha?</a>
      <!-- FIM Link "Esqueceu a sua senha?" -->

      <br>
      <br>

      <!-- Botão Entrar -->
      <button mat-raised-button class="botaoVerde">Entrar</button>
      <!-- FIM Botão Entrar -->

    </mat-card-content>
  </mat-card>
</body>

